/* .width.well {
    position: absolute;
    width: 130px;
     height: 70px;
    z-index: -10;
    font-size: 10px;
    top: 15%;
    font-weight: bold;
    justify-content: space-evenly;
     flex-direction: column;
    background-color: rgba(226, 226, 226, 0.918);
    display: flex;
    z-index: 100;
    border-radius: 3px;
 overflow-wrap: break-word;
    box-shadow: rgba(128, 128, 128, 0.431);

    cursor: pointer;

}
.fade.in{
    cursor: pointer;
    color: rgb(56, 56, 56);
    font-size: 18px;
    text-align: left;
    letter-spacing: 1px;
    text-indent: 5px;
    position: absolute;
    left: 5%;

}
.buttonStyle {
    font-size: 16px;
} */
