
.profile-logo {
    font-size: 22px;
    color: white;
    font-family: cursive;
 
}
.profile-menu {
    width: auto;

}


.profile-head {
    display: flex;
    align-items: center;
    width: 95%;
    background-color: transparent;
    margin-top: 5%;
    margin-left: 5%;
    position: fixed;
    border-bottom-color: transparent;
    justify-content: space-between;  
   }

.profile-link-container {
    display: none;
}
.profile-logo-title {
    font-size: 2rem;
    font-family: fantasy;
    color: white;
}

#profile-pic1 {
position: absolute;
left: 5vw;
top: 75%;
z-index: 10;
display: flex;
}
.business-button {
display: none;
}

.profile-top-container, .business_hours, #business-name-title  {
    display: none;

}
.profile-fullname {
    color: white;
    position: absolute;
    top: 35vh;
    left: 36%;
    font-size: 1.5rem;
}
.profile-main-container {
    height: auto;
    display: flex;
    margin-top: 12%;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
.business-address-box {
    width: 30%;
    height: auto;
    font-size: 12px;
    font-weight: lighter;
    color: rgb(9, 173, 165);
    text-align: center;
}

#number {
    color: black;
}
.service-container {
    width: 90%; 
    padding-bottom: 10%;
    border: solid #06D8CC thin;
    padding-top: 5%;
    margin-bottom: 5%;
    position: relative;

}
li {
    list-style-type: none;
    text-align: center;
}
.labels {
    font-size: 12px;
    display: flex;;
    margin-top: 5%;
    position: relative;

}
#price, .price-title {
    position: absolute;
    left: 45%;
}
#service_name, .service_name-title {
    margin-left: 8%;
}
#service-button {
    position: absolute;
    right: 8%;

}
#description, #duration, .duration-title, .description-title {
    display: none;
}
#wrapper {
    font-size: 14px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.current-month {
    font-size: 22px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin-bottom: 5%;
}
#time-ul {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    line-height: 14px;
}
#timeList {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 40%;
    margin: 3%;
}
.availability-list {
    display: flex;
    overflow: scroll;
    width: 90%;
    align-self: center;

}
/*
@media screen and (max-width: 750px){
    .profile-top-container{
        display: none;
    }
    .profile-head {
        width: 100vw;
        background-color: black;
        display: flex;
        height: 65px;
        position: relative;
        justify-content: space-between;
        align-items: center;  
        text-align: center;
        
    }
    .profile-logo-title {
        margin-left: 0%;
        margin-right: 40%;
        font-size: 30px;
        margin-bottom: 2%;
        font-family: fantasy;
    }
    .prices-service-container {
        display: flex;
    }
img.menu { 
        cursor: pointer;
    margin-left: 3%;
    margin-bottom: 5%;

        

    }
    .profile-link-container {
        display: none;
    }
    .search-icon {
        position: absolute;
        right: 3%;
        top: 28%;
    }
    .header-inputs {
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: relative;


    }
    img.profile-pic {
        width: 15vw;
        height: 15vw;
        border-radius: 60px;
        position: absolute;
        left: 5vw;
        top: 40vh;
        z-index: 10;
    }
    .profile-fullname {
        font-size: 26px;
        left: 27%;
        top: 40vh;
    }
   #banner-container {
       height: 300px;
   }

.name-title, .business_hours{
    display: none;
}
.business-address-box {
    width:100%; 
    height: 30%;
    justify-content: center;
    margin-bottom: 3%;
    font-size: 16px;
    

}
.service-menu-title {
    height: 20px;
    width: 100%;
    font-size: 26px;
    letter-spacing: 1px;
    font-family: impact;
    text-align: center;
    margin-top: 10%;
}
.business-hours-text, li {
    font-size: 12px;
    text-align: center;
}
#number {
    font-size: 12px;
}
ul.business_hours {
    height: 50px;
    display: flex;

}
#prices-container {
    display: flex;
}
.right-profile-box {
    width: 40%;
    top: 0%;
}
.service-container {
    font-size: 13px;
    width: 98vw;
    text-align: left;

    padding-top: 5px;
    position: relative;

}
.availability-list {
    display: flex;
    height: 150px;
    margin-top: 3%;
    justify-content: center;
    overflow: scroll;

}

#timeList {
    border: rgb(87, 221, 187) solid thin;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 120px;
    text-align: center;

}
.day-box {
    position: absolute;
}
.current-month {
    font-size: 26px;
    font-family: fantasy;
    margin-top: 7%;
    align-self: center;
}
.services {
    width: 100%;
    height: auto;
}
.wrapper {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 90%;
    margin-top: 3%;
    text-align: center;
}
.service-labels {
    font-weight: bold;
    font-size: 14px;
}
#service_name, #price, #duration, #description, .service_name-title, .price-title, .duration-title, .description-title, .duration-title {
    position: absolute;
    text-align: left;
}

#service_name, .service_name-title {
    left: 5%;
    width: 100px;
    overflow-wrap: break-word;
    text-align: left;
}
#description, .description-title {
    left: 20%;
    width: 33%;
    overflow-wrap: break-word;
    text-align: left;

}
.labels {
    height: 50px;
    height: 50px;
    width: 98vw;
    justify-content: space-evenly;
    display: flex;
    margin-top: 5%;
    font-weight: bold;
    text-decoration-line: underline;
    text-decoration-color: black;

}

#price, .price-title {
    left: 55%
}
#duration, #time, .duration-title {
    left: 67%;
}
.duration-title, .service_name-title, .price-title, .description-title {
    text-decoration-line: underline;
    font-size: 18px;
    font-weight: bold;
}
#time-ul{
    display: flex;
    flex-direction: column;
    height: 40px;
    width: 50px;
    overflow-wrap: break-word;

}
@media screen and (min-width: 750px) and (max-width: 1500){
    .profile-fullname {
        position: inherit;
        font-size: 48px;
        
    }
    .profile-pic {
        position: absolute;

    }
}

} */