/* .App {
    height: auto;
}
.profile-logo {
    font-size: 22px;
    color: white;
    font-family: cursive;
 
}
.profile-menu {
    width: auto;

}

.buttonStyle, .btn.btn-default {
    background-color: transparent;
    border-color: transparent;
}
.profile-head {
    display: flex;
    align-items: center;
    width: 95%;
    background-color: transparent;
    margin-top: 5%;
    margin-left: 5%;
    position: absolute;
    border-bottom-color: transparent;
    justify-content: space-between;  
   }

.profile-link-container {
    display: none;
}
a.profile-logo-title {
    font-size: 4rem;
    font-family: fantasy;
    color: white;
    margin-right: 5%;
}

#profile-pic1 {
position: absolute;
height: 150px;
left: 5vw;
top: 60%;
z-index: 10;
display: flex;
}
.business-button {
display: none;
}
a.profile-search-icon {
    margin-right: 5%;
    width: 70px;
    height: auto;
}
.profile-top-container, .business_hours, #business-name-title  {
    display: none;

}
.profile-fullname {
    color: white;
    position: absolute;
    top: -20%;
    left: 36%;
    font-size: 1.5rem;
}
.profile-main-container {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
    position: absolute;
    bottom: -20%;
    left: 5%;
    background-color: transparent;
}
.business-address-box {
    width: 30%;
    height: 150px;
    font-size: 16px;
    font-weight: lighter;
    color: rgb(9, 173, 165);
    text-align: center;
}

#number {
    color: black;
}
.service-container {
   

}
li {
    list-style-type: none;
    text-align: center;
}
.labels {
    font-size: 12px;
    display: flex;;
    margin-top: 5%;
    position: relative;

}

#description, #duration, .duration-title, .description-title {
    display: none;
}
#wrapper {
    font-size: 14px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.current-month {
    font-size: 22px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin-bottom: 5%;
}
#time-ul {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    line-height: 14px;
}
#timeList {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 40%;
    margin: 3%;
}
.availability-list {
    display: flex;
    overflow: scroll;
    width: 90%;
    align-self: center;

}

@media screen and (min-width: 600px) and (max-width: 900px){
    .profile-top-container{
        display: none;
    }
    .profile-head {
        width: 100vw;
        background-color: transparent;
        display: flex;
        height: 120px;
        top: -30px;
        margin-left: 15px;
        align-items: center;  
        text-align: center;
        z-index: 100;
        
    }
    #banner-container {
        position: absolute;
        top: 0px;
        height: 65vh;
        width: 100vw;
    }

    .profile-logo-title {
        margin-left: 0%;
        margin-right: 3%;
        font-size: 3.5rem;
        /* margin-bottom: 2%; */
       
 /* @media screen and (min-width: 900px) and (max-width: 1200){ 
   .profile-head {
       height: 160px;
       background-color: transparent;
       position: relative;
       z-index: 10;

   }
   .profile-search-icon {
       width: 10%;
   }
    .profile-fullname {
        position: inherit;
        font-size: 48px;
        
    }
    .profile-pic {
        position: absolute;

    }
    #banner-container {
        position: absolute;
        top: 0px;
        height: 55vh;
        width: 100vw;
    }
    .service-container {
        margin-top: 0%;
    }

    
    .width {
       top: -10%;
    }
}
 */ 
