.dropdown-content {
    color: black;
    display: flex;
    flex-direction: column;
    font-size: 17px;    
    border: rgba(65, 65, 65, 0.568) .5 solid;
    background-color: white;
    position: relative;
    z-index: 100;
}

.dropdown {
    display: inline-block;
    /* height: auto; */
    width: 70px;
    padding-bottom: 40px;
    margin: 2%;
    /* background-color: white; */
    /* font-size: 14px; */
    position: absolute;

}

.menu-link  {
    background-color: rgb(255, 255, 255);
    font-size: 18px;
    position: absolute;
    color: black;
    text-decoration: none;
    list-style: none;
}
/* 
.menu-link:hover  {

    background-color: rgba(192, 228, 245, 0.781);
} */
@media screen and(min-width: 350px) and (max-width: 899px){
   .menu-link, .dropdown-content {
       display: none;
   }
    .dropdown {
        margin-left: 5%;
        background-color:white;
        z-index: 100;
    }
    .responsive-dropdown {
        position: absolute;
        display: inline-block;
        left: 15%;
        /* top: 5%; */
        color: black;
        /* width: 20%; */
        /* height: 50px; */
        z-index: 100;


    }
}
.responsive-dropdown-content {
    /* display: flex;
    flex-direction: column; */
    background-color: white;
    margin-top: 0px;
    width: 30px;
      padding-bottom: 50px;
      z-index: 1000;
    border: rgba(65, 65, 65, 0.568) .5 solid;
position: absolute;
    /* position: relative; */
    text-align: left;
}
.responsive-menu-link {
    font-size: 14px;
    position: absolute;
    text-decoration: none;
    list-style: none;
    z-index: 100;
    color: black;
    text-indent: 0px;
    text-align: left;
    cursor: pointer;
}
li {
    text-align: left;
    text-indent: 0px;
}
