@media screen and (min-width: 1099px) {
.login-modal {
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.671);
    min-width: 100vw;
    min-height: 100vh;
    position: fixed;
    left: 0px;
    /* margin-top: -100px; */
    top: 0px;

}

.forgot-pw {
    font-size: 12px;
    color: rgb(28, 118, 173);
    text-align: center;
    font-weight: lighter;
    margin-top: 5px;
}

.login-button {
    background-color: #5CD3CA;
    width: 100%;
    height: 60px;
    color: white;
    font-size: 18px;
    margin-top: 30px;


}
img.close {
   right: 3%;
    position: absolute;
    cursor: pointer;
    height: 18px;
    width: 18px;
    top: 0px;

}
.login-input, .password-input {
    height: 45px;
    width: 80%;
    text-indent: 5px;
    border-right: solid thin rgb(204, 204, 204);
    border: solid thin rgb(204, 204, 204);
    border-left: solid thin rgb(204, 204, 204)

}
.password-input {
    margin-bottom: 25px;
    
}
/* .signup-input {
        height: 45px;
        width: 85%;
        text-indent: 5px; 
        margin-bottom: 10px; 
       
} */
/* 
.name-container {
    display: flex;
    flex-direction: row;
    width: 87%;
} */


.signup-span, .login-span {
    color: rgb(177, 177, 177);
     font-weight: lighter;
     margin-right: 10%;
     cursor: pointer;

}
   
.top-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 5%;
    position: relative;
 

}
 .login-span-active, .signup-span-active {
    color:#2876AD;
    justify-content: space-between;
    margin-right: 15%;
   
} 
.input-container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* height: 80%; */
    /* margin-bottom: 50px; */
}
/* 
.modal {
    width: 350px;
    height: 350px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
} */
}
@media screen and (min-width: 350px) and (max-width: 800px) {
    .modal {
        margin-top: 50%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-between;

    }
    .login-text {
        color: #2876AD;
    }
}


@media screen and (min-width: 799px) and (max-width: 1100px) {
    .modal {
        margin-top: 50%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
    }
}