
.App {
    width: 100%;
    height: 100%;
}
.appointments {
    width: 100%;
    height: 100%;
    margin-top: 3%;
    color: black;
    height: 10vh;
    font-size: 18px;
}
.dashboard-header-responsive {
    background-color: black;
    color: white;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.App-logo {
    display: none;
}
.responsive-dashboard-title {
    font-size: 2em;
    font-family: fantasy;
    margin-right: 15%;
}
.dashboard-search-img {
    width: 100%;
}
.dashboard-search-link {
    width: 8%;
    position: absolute;
    right: 5%;
}
.dashboard-menu-icon {
    margin-left: 5%;
    margin-top: 15%;
}
.btn.btn-default  {
    display: unset;


}
.cancel {
    width: 80px;
    background-color: #06D8CC;
    color: white;
    font-size: 16px;
    font-weight: lighter;
}
.dashboard-main-box {
    height: 30vh;
    width: 60%;
    margin-top: 10%;
    border: #06D8CC thin solid;
    font-size: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.user-title {
    font-size: 1.5rem;

}
div.width.well {
    text-align: left;
    text-indent: 5px;
    font-size: 14px;
    left: 5%;
}



@media (min-width: 600px) and (max-width: 900px) {
    .dashboard-header-responsive {
        height: 120px;
    }
    .dashboard-search-link {
        width: 6%;
    }
    .dashboard-menu-icon {
        height: 50px;
        width: auto;
        
    }
    .responsive-dashboard-title {
        font-size: 3rem;
        margin-top: 3%;
    }
    .dashboard-menu {
        height: 80px;
        width: 100px;
        color: black;
    }
}