
.Search  {
    width: 100%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
}



/* @media screen and (min-width: 350px) and (max-width: 650px) {
    .logo, .name-input, #date, .nav-links, .search-button, .marker-icon, .service-filter, .availability-text {
        display: none;
    } */

    .search-header {
        background-color: #2A2D32;
        height: 80px;
        display: flex;
        align-items: center;
        position: relative;
        align-content: center;
    }
   
    .location-input {
        background-color: rgb(89, 96, 97);
        border-color: transparent;
        border-style: solid;
        border-radius: 17px;
        height: 30px;
        color: rgb(236, 236, 236);
        text-indent: 10%;
        font-size: 16px;
        width: 75%;
        align-self: center;

    }
    .header-inputs {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    .name-input, #date, .marker-icon, .nav-links, .search-button, .logo {
       display: none;
    
    }
    
    .search-icon1 {
        position: absolute;
        left: 22%;
        top: 32%;
        cursor: pointer;
    }

    .menu-icon {
        cursor: pointer;
        height: 15%;
        z-index: 10;
    }
    .search-menu-container {
        display: none;

    }
    .search-top-container {
        height: auto;

    } 
    .filter-text, .service-filter {
        display: none;
    }
    .payments-text {
        font-size: 1em;
        margin-left: 3%;
        line-height: 1.5;
        display: flex;
        flex-direction: row;
        width: 60%;
        /* font-weight: bold; */
        font-family: arial;
        color: rgb(160, 160, 160);
        align-items: center;
    }
    .payment-checkbox {
        border-radius: 10px;
        width: 20px;

    }
    .stylist-container {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    .stylist-card {
        width: 85%;
        height: 35vh;
        position: relative;
        border-color: rgba(156, 156, 156, 0.767);
        border-style: solid;
        border-width: thin;
        display: flex;
        flex-direction: column;
        /* margin-bottom: 10%; */
    }
    .no-results {
        display: flex;
        flex-direction: column;
        font-family: fantasy;
        font-size: 18px;
        margin-top: 30%;
        text-align: center;
    }
    .results-logo {
        animation-direction: alternate;
        animation: forwards;

    }
    .responsive-title {
     display: none;
    }
    .picture {
        border-radius: 25px;
        zoom: 2;
        width: 10vw;
        height: 5vh;
        margin-left: 5%;
       z-index: 1000;
       /* margin-top: 5%; */
       /* position: absolute; */
       /* bottom: -50%; */
        
    }
    .width {
        margin-top: 5%;
    }
    .search-profile-pic {
        position: absolute;
        width: 100%;
        z-index: 100;
        display: flex;
        bottom: 15%;
    }
    .profile-box {
       display: hidden;
    }
    .menu-container {
        overflow: hidden;
        width: 40px;

    }
    .responsive-box {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: -100;

    }
    span.stylist-name {
        font-size: 24px;
        color: white;
        font-weight: bold;
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin: 5%;

         
    }
   
 
  
    .profile-main-box {
        position: absolute;
        height: 100%;
        width: 100%;
    }
    .view-photos {
        position: absolute;
        font-size: 14px;
        font-weight: lighter;
        cursor: pointer;
        top: 5%;
        z-index: 10;
        right: 5%;
        color: white;
        cursor: pointer;
        
    }
    .availability-filter {
        width: 80%;
        height: 9vw;
        border: solid thin #00D7CC;

        font-size: 16px;
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow: scroll;
        justify-content: center;
   
    
    }
    .availability {
        position: absolute;
        bottom: 0%;
        width: 100%;
        background-color: white;
        color: black;
        overflow-x: scroll;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;



    }
    /* .schedule {
        color: #00D7CC;
        border-style: solid;
        border-width: thin;
      text-align: center;
        margin-right: 2%;
        padding: 2%;
        height: auto;
    } */
    /* .schedule:hover {
        background-color: #00D7CC;
        color: white;
    } */
  
/*
@media screen and (min-width: 650px) and (max-width: 899px) {
    .schedule, .logo, .name-input, #date, .search-button, .marker-icon, .signup-link, .login-link, .help-link, .responsive-title {
        display: none;
    }
    .search-header {
        width: 100vw;
        background-color: black;
        display: flex;
        height: 80px;
        position: relative;
        
    }
    .header-inputs {
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: relative;


    }
    .menu-container {
        background-color: white;
        display: flex;
        flex-direction: column;
        font-size: 16px;
        width: 50px;
        z-index: -1;

        
    }

    .menu-icon {
        height: 30px;
        cursor: pointer;
        margin: 3%;
        position: absolute;
        z-index: 10;

    }
    .location-input {
        width: 80%;
        font-size: 14px;
        border-radius: 17px;
        height: 35px;
        color: lightgray;
        text-indent: 10%;
        font-size: 16px;
        background-color: rgb(85, 93, 94);
        border: none;
        margin-right: 5%;
        margin-top: 20px;

    
    }

    
    .search-icon1 {
        position: absolute;
        left: 16%;
        top: 25px;
    } 
   
    
    .toggle {
        width: 20px;
        height: 20px;
        border-radius: 15px;
        border-color: black;
        border-style: solid;
        border-width: thin;
        margin-left: 5%;

    }
    
    .payments-text {
        margin-left: 5%;
        display: flex;
        font-size: 16px;
        font-weight: lighter;
        margin-top: 3%;
        width: 40%;
    }
    
    .search-top-container {
        width: 100%;
        height: 50px;
        display: flex;
        margin-left: 1%;
        margin-bottom: 5%;
    
    }
    
    .filter-text {
        margin-left: 5%;
        margin-top: 3%;
        font-weight: bolder;
        font-size: 18px;
    }
    
    .stylist-card {
        width: 70%;
        height: 25vw;
        position: relative;
        border-color: rgba(156, 156, 156, 0.767);
        border-style: solid;
        border-width: thin;
        display: flex;
        justify-content: space-between;
        margin-left: 5%;
        margin-bottom: 1%;
    
    }
    .profile-pic {
        width: 100%;
        height: 10vw;
        display: flex;
        margin-left: 5%;
    }
    .picture {
        border-radius:15px;
        zoom: 2;
        width: 18%;
        height: 45%;
        margin-top: 16%;

    }
    .responsive-box {
        width: 55%;
        height: 100%;

    }
    .profile-main-box {
        margin-right: 5%;
        list-style-type: none; 
        display: flex;
        flex-direction: column;
    }
    .profile-box {
        font-weight: bold;
        margin-top: 10px;

    } 
     .stylist-name {
        margin-top: 22%;
        margin-left: 5%;
        font-size: 12px;

    }
    .view-photos {
        font-size: 10px;
        font-weight: bold;
        color: rgb(13, 79, 82);
        cursor: pointer;
        position: absolute;
        right: 5%;
        top: 5%;
    }
    .availability-filter {
        border-color: #00D7CC;
        color: #00D7CC;
        border-style: solid;
        border-width: thin;
        width: 40%;
        height: 4.5vw;
        font-size: 12px;
        left: 5%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        
    
    }
    span.availability-text:hover {
        cursor: pointer;
        background-color: #00D7CC;
        color: white;
 
    }
    
    .service-filter {
        position: absolute;
        display: flex;
        font-size: 12px;
        width: 40%;
        margin-left: 2%;
       
    }
    .service-menu {
        position: absolute;
        width: 20%;
        height: 30px;
        overflow: hidden;
        margin-top: 10px;
    
    }
    
    .profile-main-box {
        margin-top: 2%;
        width: 60%
    }
  
    .availability {
        position: absolute; 
         border-style: solid;
        border-width: thin;
        border-top-color: rgb(160, 160, 160);
        border-bottom: none;
        border-right: none;
        border-left: none;
        text-align: center;
        width: 50%;
        bottom: 10%;
        padding-top: 10px;
        margin-left: 3%;

    }
    .time-list time{
        border-color: #00D7CC;
        color: #00D7CC;
        border-style: solid;
        border-width: thin;
        width: 100%;
        height: 4.5vw;
        font-size: 12px;
        left: 5%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    img.down {
       cursor: pointer;
       margin-left: 5%;
       margin-top: 3%;
       width: 10px;
       height: 5px;

    }
}
@media screen and (min-width: 900px) and (max-width: 1199px) {

    .schedule, .menu-icon {
        display: none;
    }
    .search-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom-color: lightgray;
        border-bottom-width: thin;
        border-bottom-style: solid;
        height: 80px;

    }
   .logo {
       width: 120px;
       height: 40px;
       margin-left: 5%;

   }
   .nav-links {
       width: 30%;
       display: flex;
       align-items: center;
        justify-content: flex-end;
        margin-right: 3%;

   }
   .signup-link, .login-link, .help-link {
       margin: 3%;
   }
   .search-button {
    width: 14%;
    height: 36px;
    color: white;
    background-color: #00D7CC; 
    font-weight: bolder;
    font-size: 16px;
    position: inherit;


   }
   .header-inputs {
       position: relative;
        width: 70%;
        margin-left: 3%;
        height: 40px;

   }
   .name-input, .location-input {
    height: 30px;
        width: 22%;
        font-size: 14px;
        text-indent: 30px;
   }
   .search-icon1 {
       position: absolute;
        height: 80%;
        top: 5px;

   }
   .marker-icon {
       height: 50%;
       position: absolute;
       top: 10px;
       left: 25%;
   }
   #date {
    height: 32px;
    width: 18%;
    font-size: 14px;
    text-indent: 5px;
    color: rgb(107, 107, 107);
   }

   .search-top-container {
       margin-top: 3%;
       width: 100%;
       display: flex;
       margin-bottom: 5%;

   }
   .filter-text {
       font-weight: bold;
       margin-left: 5%;
   }
   .payments-text {
       font-size: 14px;
       margin-left: 5%;
       position: relative;
       display: flex;

   }
   .toggle {
       width: 20px;
       height: 20px;
       border-radius: 15px;
       border-color: black;
       border-style: solid;
        border-width: thin;
        margin-left: 10px;
   }
   .stylist-card {
    width: 70%;
    height: 22vw;
    position: relative;
    border-color: rgba(156, 156, 156, 0.767);
    border-style: solid;
    border-width: thin;
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-bottom: 1%;

}
.profile-pic {
    width: 100%;
    display: flex;




.picture {
    border-radius:15px;
    zoom: 2;
    width: 25px;
    height: 25px;
    margin-right: 5%;
    margin-left: 5%;


}
.responsive-box {
    width: 50%;
    height: auto;

}
.profile-main-box {

    list-style-type: none; 
    display: flex;
    flex-direction: column;
}
.profile-box {
    font-size: 18px;
    font-weight: bold;
    margin-top: 18%;
    margin-left: 5%;

} 
 .stylist-name {
    margin-top: 5%;

}
.view-photos {
    font-size: 14px;
    font-weight: bold;
    color: rgb(0, 80, 83);
    right: 3%;
    top: 5%;
    cursor: pointer;
    position: absolute;
}
.availability-filter {
    border-color: #00D7CC;
    color: #00D7CC;
    border-style: solid;
    border-width: thin;
    width: 40%;
    height: 60%;
    font-size: 17px;
    left: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    

}
span.availability-text:hover {
    cursor: pointer;
    background-color: #00D7CC;
    color: white;

}

.service-filter {
    position: absolute;
    display: flex;
    font-size: 18px;
    width: 40%;
    margin-left: 3%; 

   
}
.service-menu {
    position: absolute;
    width: 20%;
    height: 30px;
    overflow: hidden;
    margin-top: 10px;

}

.profile-main-box {
    margin-top: 2%;
    width: 60%
}

.availability {
    position: absolute; 
     border-style: solid;
    border-width: thin;
    border-top-color: rgb(160, 160, 160);
    border-bottom: none;
    border-right: none;
    border-left: none;
    text-align: center;
    width: 50%;
    height: 30%;
    bottom: 7%;
    margin-left: 3%;

}
img.down {
   cursor: pointer;
   margin-left: 5%;
   margin-top: 2%;

}

@media screen and (min-width: 1200px) and (max-width: 1519px) {
    .schedule {
        display: none;
    }
    .search-header {
        width: 100vw;
        border-bottom-style: solid;
        border-bottom-color: rgba(126, 126, 126, 0.609);
        border-width: thin;
        display: flex;
        height: 80px;
        align-items: center;
        position: relative;
    }
    
    .logo {
       margin-left: 50px; 
       width: 160px;
       height: 60px;
    
    }
    .name-input, .location-input {
        height: 30px;
        width: 20%;
        font-size: 14px;
        text-indent: 30px;
    
    }
    #date {
        height: 32px;
        width: 15%;
        font-size: 14px;
        text-indent: 5px;
        color: rgb(107, 107, 107);
    }
    .header-inputs {
        position: relative;
        width: 80%;
        display: flex;
        flex-direction: row;
       
    }
    
    .search-icon1 {
        position: absolute;
        display: inline;
        left: 5px;
        top: 5px;
    } 
    
    .marker-icon {
        position: absolute;
        left: 21.5%;
        top: 8px;
    }
    .search-button {
        width: 12%;
        height: 36px;
        color: white;
        background-color: #00D7CC; 
        font-weight: bolder;
        font-size: 16px;
    }
    
    .nav-links {
        position: absolute;
        right: 2%;
        display: flex;
        justify-content: space-evenly;
        width: 20%;
        font-size: 16px;
       
    }
    .signup-link, .login-link, .help-link {
        cursor: pointer;
    }
    
    .toggle {
        width: 20px;
        height: 20px;
        border-radius: 15px;
        border-color: black;
        border-style: solid;
        border-width: thin;
        margin-left: 10px;
    }
    
    .payments-text {
        margin-left: 5%;
        display: flex;
        font-size: 16px;
        font-weight: lighter;
        margin-top: 3%;
    }
    
    .search-top-container {
        width: 100%;
        height: 50px;
        display: flex;
        margin-left: 1%;
        margin-bottom: 5%;
    
    }
    
    .filter-text {
        margin-left: 5%;
        margin-top: 3%;
        font-weight: bolder;
        font-size: 18px;
    }
    
    .stylist-card {
        width: 70%;
        height: 22vw;
        position: relative;
        border-color: rgba(156, 156, 156, 0.767);
        border-style: solid;
        border-width: thin;
        display: flex;
        justify-content: space-between;
        margin-left: 5%;
        margin-bottom: 1%;
    
    }
    .profile-pic {
        width: 100%;
        display: flex;
    }
    .picture {
        border-radius:15px;
        zoom: 2;
        width: 30px;
        height: 30px;
        margin-top: 12%;

    }
    .responsive-box {
        width: 55%;
        height: auto;

    }
    .profile-main-box {
        margin-right: 5%;
        list-style-type: none; 
        display: flex;
        flex-direction: column;
    }
    .profile-box {
        font-size: 20px;
        font-weight: bold;
        margin-top: 8%;
        margin-left: 7%;

    } 
     .stylist-name {
        margin-top: 15%;
        margin-left: 5%;

    }
    .view-photos {
        font-size: 18px;
        font-weight: bold;
        color: rgb(0, 80, 83);
        right: 5%;
        top: 5%;
        cursor: pointer;
        position: absolute;
    }
    .availability-filter {
        border-color: #00D7CC;
        color: #00D7CC;
        border-style: solid;
        border-width: thin;
        width: 35%;
        height: 3.5vw;
        font-size: 20px;
        left: 5px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        
    
    }
    span.availability-text:hover {
        background-color: #00D7CC;
        color: white;
        cursor: pointer;
 
    }
    
    .service-filter {
        position: absolute;
        display: flex;
        font-size: 18px;
        width: 50%;
        margin-left: 5%; 
       
    }
    .service-menu {
        position: absolute;
        width: 20%;
        height: 30px;
        overflow: hidden;
        margin-top: 10px;
    
    }
    
    .profile-main-box {
        margin-top: 2%;
        width: 60%
    }
  
    .availability {
        position: absolute; 
         border-style: solid;
        border-width: thin;
        border-top-color: rgb(160, 160, 160);
        border-bottom: none;
        border-right: none;
        border-left: none;
        text-align: center;
        width: 50%;
        bottom: 17%;
        padding-top: 15px;
        margin-left: 3%;

    }
    img.down {
       cursor: pointer;
       margin-left: 5%;
       margin-top: 1%;

    }
}
@media screen and (min-width: 1520px) and (max-width: 2200px) {
    .menu-icon, .menu-container {
        display: none;
    }
    .search-header {
        width: 100vw;
        border-bottom-style: solid;
        border-bottom-color: rgba(126, 126, 126, 0.609);
        border-width: thin;
        display: flex;
        height: 100px;
        align-items: center;
        position: relative;
    }
    
    .logo {
       margin-left: 50px; 
        width: 190px;
        height: 80px;

    
    }
    .name-input, .location-input {
        height: 30px;
        width: 22%; 
        font-size: 14px;
        text-indent: 30px;
    
    }
    #date {
        height: 32px;
        width: 19%; 
        font-size: 14px;
        text-indent: 5px;
        color: rgb(107, 107, 107);
    }
    .header-inputs {
        position: relative;
        width: 80%;
        display: flex;
        flex-direction: row;
       
    }
    
    .search-icon1 {
        position: absolute;
        left: 5px;
        top: 5px;
    } 
    
    .marker-icon {
        position: absolute;
        left: 23%;
        top: 8px;
    }
    .search-button {
        width: 7%;
        height: 37px;
        color: white;
        background-color: #00D7CC; 
        font-weight: bolder;
        font-size: 18px;
    }
    
    .nav-links {
        position: absolute;
        right: 5px;
        display: flex;
        justify-content: space-evenly;
        width: 20%;
        font-size: 22px;
       
    }
    .signup-link, .login-link, .help-link {
        cursor: pointer;
    }
    
    .toggle {
        width: 1.5vw;
        height: 1.5vw;
        border-radius: 15px;
        border-color: black;
        border-style: solid;
        border-width: thin;
        margin-left: 2%;
    }
    
    .payments-text {
        display: flex;
        font-size: 18px;
        font-weight: lighter;
        margin-top: 3%;
        margin-left: 5%;
        width: 50%;

    }
    
    .search-top-container {
        width: 100%;
        height: 100px;
        display: flex;
        margin-left: 1%;
        margin-bottom: 5%;

    
    }
    
    .filter-text {
        margin-left: 5%;
        margin-top: 3%;
        font-weight: bolder;
        font-size: 22px;
    }
    
    .stylist-card {
        width: 60%;
        height: 20vw;
        border-color: rgba(156, 156, 156, 0.767);
        border-style: solid;
        border-width: thin;
        display: flex;
        justify-content: space-between;
        margin-left: 5%;
        margin-bottom: 1%;
        position: relative;
    
    }
    
    .picture {
        border-radius: 50px;
        zoom: 2;
        width: 22%;
        height: 50%;
        position: absolute;
        bottom: 10%;
    }
    .profile-pic {
        height: 10vw;
        display: flex;
    }
    .picture-box {
        width: 60%;
        height: 100%;

    
    }
    .profile-main-box {
        margin-right: 5%;
        margin-top: 2%;
        width: 60%;
        list-style-type: none; 
        display: flex;
        flex-direction: column;
    }
    .profile-box {
        font-size: 26px;
        font-weight: bold;
        position: relative;
        margin-top: 10px;

    } 
    .stylist-name {
        font-size: 22px;
        position: absolute;
        bottom: 20%;
        left: 30%;

       

    }
    .view-photos {
        height: 20%;
        width: 30%;
        font-size: 22px;
        font-weight: bold;
        color: rgb(1, 100, 104);
        margin: 2%;
        cursor: pointer;
        text-align: center;
    }
    .availability-filter {
        border-color: #00D7CC;
        color: #00D7CC;
        border-style: solid;
        border-width: thin;
        width: 12vw;
        height: 3vw;
        font-size: 20px;
        left: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
       
    }
    .time {
        border-color: #00D7CC;
        color: #00D7CC;
        border-style: solid;
        border-width: thin;
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: row;
        cursor: pointer;
        
    }
    .time:hover {
        background-color: #00D7CC;
        color: white;
    }
    .timeList {
        width: 30%;
        height: 20%;
    }
    .stylist-card2 {
        width: 60%;
        height: 20vw;
        border-color: rgba(156, 156, 156, 0.767);
        border-style: solid;
        border-width: thin;
        display: flex;
        justify-content: space-between;
        margin-left: 5%;
        margin-bottom: 1%;
        position: relative;
    }
   

    span.availability-text {
        position: absolute;
        cursor: pointer;
      
    }
    .no-search {
        font-size: 32px;
        text-align:center;
    }
    .service-filter {
        position: absolute;
        display: flex;
        font-size: 20px;
        width: 50%;
        margin-left: 15%;
       
    }
    .service-menu {
        position: absolute;
        width: 20%;
        height: 30px;
        overflow: hidden;
        margin-top: 10px;
    
    }
    .time-filter {
        width: 100%;
        display: flex;
    }
    .availability{
        position: absolute;
        border-style: solid;
        border-width: thin;
        border-top-color: rgb(160, 160, 160);
        border-bottom: none;
        border-right: none;
        border-left: none;
        text-align: center;
        width: 57%;
        padding-top: 2%;
        bottom: 20%;
        overflow: scroll;
        right: 0%;
        bottom: 0%;


    }
    img.down {
       cursor: pointer;
       margin-left: 5%;
       margin-top: 1%;
    }
}
@media screen and (min-width: 2200px) and (max-width: 3200px) {
    .menu-icon, .menu-container {
        display: none;
    }
    
}
@media screen and (max-width: 9000px){
    .menu-container, .menu-icon {
        display: none;
    }
} */ 