
.Search  {
    width: 100%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
}


.buttonStyle, .btn.btn-default {
    background-color: transparent;
    border-color: transparent;
}

    .search-header {
        background-color: #2A2D32;
        height: 80px;
        display: flex;
        align-items: center;
        position: relative;
        align-content: center;
    }
   
    .location-input {
        background-color: rgb(89, 96, 97);
        border-color: transparent;
        border-style: solid;
        border-radius: 17px;
        height: 30px;
        color: rgb(236, 236, 236);
        text-indent: 10%;
        font-size: 16px;
        width: 75%;
        align-self: center;

    }
    .header-inputs {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    .name-input, #date, .marker-icon, .nav-links, .search-button, .logo {
       display: none;
    
    }
    
    .search-icon1 {
        position: absolute;
        left: 22%;
        top: 32%;
        cursor: pointer;
    }

    .menu-icon {
        cursor: pointer;
        height: 15%;
        z-index: 10;
    }
    .search-menu-container {
        display: none;

    }
    .search-top-container {
        height: auto;

    } 
    .filter-text, .service-filter {
        display: none;
    }
    .payments-text {
        font-size: 1em;
        margin-left: 3%;
        line-height: 1.5;
        display: flex;
        flex-direction: row;
        width: 60%;
        /* font-weight: bold; */
        font-family: arial;
        color: rgb(160, 160, 160);
        align-items: center;
    }
    .payment-checkbox {
        border-radius: 10px;
        width: 20px;

    }
    .stylist-container {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    .stylist-card {
        margin-top: 5%;
        width: 85%;
        height:40vh;
        position: relative;
        border-color: rgba(207, 206, 206, 0.705);
        border-style: solid;
        border-width: thin;
        display: flex;
        flex-direction: column;

    }
    .no-results {
        display: flex;
        flex-direction: column;
        font-family: fantasy;
        font-size: 18px;
        margin-top: 30%;
        text-align: center;
    }
    .results-logo {
        animation-direction: alternate;
        animation: forwards;

    }
    .responsive-title {
     display: none;
    }
    .picture {
        border-radius: 40px;
        zoom: 2;
        width: 9vw;
        height: 9vw;
        margin-left: 5%;
       z-index: 1000;
       /* margin-top: 5%; */
       /* position: absolute; */
       /* bottom: -50%; */
        
    }
    .width {
        margin-top: 5%;
    }
    .search-profile-pic {
        position: absolute;
        width: 100%;
        z-index: 100;
        display: flex;
        bottom: 15%;
    }
    .profile-box {
       display: hidden;
    }
    .menu-container {
        overflow: hidden;
        width: 40px;

    }
    .responsive-box {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: -100;

    }
    span.stylist-name {
        font-size: 24px;
        color: white;
        font-weight: bold;
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin: 5%;

         
    }
   
 
  
    .profile-main-box {
        position: absolute;
        height: 100%;
        width: 100%;
    }
    .view-photos {
        position: absolute;
        font-size: 14px;
        font-weight: lighter;
        cursor: pointer;
        top: 5%;
        z-index: 10;
        right: 5%;
        color: white;
        cursor: pointer;
        
    }
    .availability-filter {
        width: 80%;
        height: 9vw;
        border: solid thin #00D7CC;

        font-size: 16px;
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow: scroll;
        justify-content: center;
   
    
    }
    .availability {
        position: absolute;
        bottom: 0%;
        width: 100%;
        background-color: white;
        color: black;
        overflow-x: scroll;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;



    }
    

@media (min-width: 600px) and (max-width: 900px) {
    .schedule, .logo, .name-input, #date, .search-button, .marker-icon, .signup-link, .login-link, .help-link, .responsive-title {
        display: none;
    }
    .search-header {
        width: 100vw;
        background-color: black;
        display: flex;
        height: 140px;
        position: relative;
        
    }
    .header-inputs {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        position: relative;
    }
    
    .results-logo {
        height: 100px;
        width: 250px;

    }
    .no-results {
        width: 40%;
        height: auto;
        font-size: 26px;
        text-align: center;
    }
    .searchMenu {
        cursor: pointer;

        color: rgb(56, 56, 56);
        font-size: 18px;
        text-align: left;
        letter-spacing: 1px;
        text-indent: 5px;
        display: flex;
        flex-direction: column;
        width: 50px;
        color: black;
        top: 5%;
        height: 20%;
        left: 3%;
    
    }
    .width.well {
        width: 100px;
        top: 4%;
        position: absolute;
    }
    #business, #account, #login, #home {
        color: black;

    }
    .menu-icon {
        height: 55px;
        width: auto;
        cursor: pointer;
        position: absolute;
        left: 3%; 
        top: 3%;

        z-index: 10;

    }
    .location-input {
        width: 80%;
        font-size: 18px;
        border-radius: 30px;
        height: 50px;
        color: lightgray;
        text-indent: 10%;
        font-size: 16px;
        background-color: rgb(85, 93, 94);
        border: none;


   
    }

    
    .search-icon1 {
        position: absolute;
        left: 130px;
        top: 5px;
        width: 6%;
    } 
   
    
 
    
    .payments-text {
        margin-left: 5%;
        margin-right: 3%;
        display: flex;
        font-size: 26px;
        font-weight: lighter;
        margin-top: 3%;
        width: 70%;
    }
    
    .search-top-container {
        width: 100%;
        height: 50px;
        display: flex;
        margin-left: 1%;
        margin-bottom: 5%;
    
    }
    
    .payment-checkbox {
        width: 50px;
        block-size: 40px;
        background-color: #00D7CC;
    }
    
    .stylist-card {
        width: 80%;
        height: 45vw;
        position: relative;
        border-color: rgba(156, 156, 156, 0.767);
        border-style: solid;
        border-width: thin;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 5%;
        margin-bottom: 1%;
    
    }
    .search-profile-pic {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        z-index: 10;

    }
    .picture {
        border-radius:60px;
        position: absolute;
        right: 8%;
        bottom: 25%;
        width: 8vw;
        height: 8vw;
    }
    .responsive-box {
        width: 65%;
        height: 100%;

    }
    .profile-main-box {
        list-style-type: none; 
        display: flex;
        flex-direction: column;

    }
    
     span.stylist-name {
        position: absolute;
        left: 3%;
        bottom:  0%;
        font-size: 2em;

    }
    .view-photos {
        font-size: 18px;
        font-weight: bold;
        color: rgb(13, 79, 82);
        cursor: pointer;
        position: absolute;
        right: 3%;
        top: 3%;
    }
    .search-button:hover {
        color: white;
        background-color: #00D7CC;
    }
    .availability-filter, .avialability-text {
        border-color: #00D7CC;
        color: #00D7CC;
        border-style: solid;
        border-width: thin;
        width: 50%;
        height: 6vw;
        font-size: 18px;
        left: 15%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10%;
        cursor: pointer;
    
    }
    .availability-text, a {
       color: #00D7CC;
        
    }
    
    .availability {
        position: absolute; 
        text-align: center;
        width: 50%;
        bottom: 10%;
        padding-top: 10px;
        right: 0%;
        background-color: transparent;

    }
    .time-list time{
        border-color: #00D7CC;
        color: #00D7CC;
        border-style: solid;
        border-width: thin;
        width: 100%;
        height: 4.5vw;
        font-size: 12px;
        left: 5%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
   
}
 
/* @media (min-width: 900px) and (max-width: 1200px){
    .search-header {
        height: 160px;
    }
    .menu-icon {
        height: 70px;
        width: auto;
    }
    .location-input {
        height: 70px;
        border-radius: 50px;
        font-size: 16px;
        
    }
    .search-icon1 {
        width: 7%;
        top: 13%;
    }
    .payment-checkbox {
        height: 90px;
        width: auto;

    }
    .payments-text {
        font-size: 2.5rem;
    }
    .no-results {
        font-size: 3em;
    }
    .results-logo {
        height: 160px;
        width: 25rem;
    }
    .stylist-card {
        height: 60vh;
        width: 80%;
    }
    .view-photos {
        font-size: 2em;
    }
    .picture {
        height: 80px;
        width: 9vw;
        border-radius: 60px; 
        right: 6%;
    }
    .availability {
        height: 15vh;
    }
    span.stylist-name {
        font-size: 3em;
    }
    .availability-filter {
        font-size: 1.5em;
        height: 7vh;
        width: 60%;
    }
    .availability-filter:hover {
        cursor: pointer;
        background: rgb(30, 228, 228);
        color: white;
    }
}

     */