 
 .home {
     position: relative;
    display: flex;
    justify-content: center;
 }
.dropdown-container {
    display: inline-block;
    height: auto;
    width: 160px;
    background-color: white;
    font-size: 14px;


}
.home-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: white;
    top: 0px;
 }

.search-input {
    width: 100%;
    height: 35px;
    text-indent: 33px;
    font-size: 14px;
    color: rgb(168, 168, 168);
    border: #E9ECEB solid .2px;

}
.wrapper {
    position: relative;
}
.header-search-box {
    position: relative;
    width: 40%;
    margin-left: 5%;
}
.icon {
    position: absolute;
    left: 50px;
    top: 7px;
}
.nav-link-container, .nav-link {
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-decoration: none;
    margin: 10px;
}

.business {
    background-color: #343737;
    color: white;
    width: 140px;
    height: 40px;
    font-weight: bold;
    font-size: 13px;
    /* margin-top: 15px; */
}
.nav-link {
    color: rgb(110, 110, 110);
   text-decoration: none;
   border-style: none;
   background-color: transparent;
   font-size: 13px;
}

.top-box{
    display: flex;
    height: auto;
    color: white;
    font-weight: bold;

}

.search-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 75%;
    height: 400px;
    font-size: 40px;
    color: white;
    font-weight: bold;
    background-image: url('https://s3.us-east-2.amazonaws.com/styleseat/woman.jpg');
    background-repeat: no-repeat;
background-position-y: -400px;
background-position-x: -50px;
    background-size: 1000px;
    
}
.search-link-container{
    display: flex;
    flex-direction: row;
    background-color: rgba(65, 65, 65, 0.596);
    font-size: 14px;
    text-decoration-color: white;
    text-decoration: none;
    margin-top: 45px;
    justify-content: space-between;
    margin-right: 15px;
    align-items: center;
    padding: 10px;
    width: 80%;
    height: 10px;
}
a {
    text-decoration: none;
    color: white;
    font-weight: lighter;
}
.right-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 400px;
    width: 30%;
    background-color: #343737;
    font-size: 25px;

}
.trial-text {
   font-size: 15px;
   font-weight: lighter;
   /* padding: 20px; */

}
.booking-text {
    font-size: 15px;
    font-weight: lighter;

}
.bold-text {
    font-size: 32px;

}
.name, .location {
    height: 45px;
    width: 50%;
    text-indent: 35px;
    font-size: 14px;

}
.icons-container {
    display: flex;

}
.profile-img {
    width: 150px;
    height: 35px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(97, 97, 97);
}

.bell {
    margin-top: 5px;
}

.down-arrow {
    float: right;
    margin-top: 10%;
}
.search {
    background-color: rgb(100, 209, 195);
    color: white;
    align-items: center;
    border-color: rgb(100, 209, 195);
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}


span.motto {
    margin-bottom: 30px;
    width: 70%;
    font-weight: bolder;
    margin-right: 15%;

}
.input-container{
    position: relative;
    width: 100%;
    display: flex; 
}

.icon2 {
    position: absolute;
    left: 5px; 
    top: 15px;
}

.setup {
    background-color: rgb(100, 209, 195);
    border-color: rgb(100, 209, 195);
    height: 50px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.input-search-box {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 85%;
}

 .location-icon {
    position: absolute;
    left: 52%;
    top: 30%;
} 

h1 {
    color: rgb(71, 71, 71);
    font-weight: lighter;
    font-size: 40px;
    text-align: center;
} 


span.float1:hover {
    width: 75%;
    height: 45%;
    transition-delay: 0s;
    top: 26%;
    right: 12%;
    background-color: rgba(255, 255, 255, 0.911);
    cursor: pointer;
}

.img-container {
   position: relative;
   margin-bottom: 33px;
   background-color: rgb(51, 51, 51);
   width: 31%;
   height: 22vw;

}
.box:hover {
    opacity: .5;
}

.float-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: lighter;
} 

 .float1 {
    width: 70%;
    height: 40%;
    background-color: rgba(255, 255, 255, 0.705);
    position: absolute;
    top: 27%;
    right: 17%;
    font-size: 17px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;

}
 
@media screen and (min-width: 350px) and (max-width: 899px){
    .search, .business, .search-input, .name, .location, .location-icon, .search-link-container, .nav-link-container, .App-logo, .header-search-box {
        display: none;
    }
    .home-header {
        display: flex;
        align-items: center;
        width: 100%;
        background-color: rgb(2, 2, 2);
        top: 0px;
        color: white;
        justify-content: space-between;
        height: 15%;
     }
     img.menu, .search-img {
        margin: 3%;
        width: 5%;
     }

    .responsive-title {
        padding-top: 2%;
        color: white;
        font-size: 34px;
        font-family: fantasy;
    }
    .home {
        display: flex;
        flex-direction: column;
    }
    .responsive {
        width: 100%;
        height: 42px;
        background-color: #fff;
        position: relative;
        margin-left: 5%;
        text-indent: 30px;
    }
    .input-container{
        position: relative;
    }
    .icon2 {
        position: absolute;
        left: 15px;
    }
    .top-box {
        width: 100%;
        display: flex;
        flex-direction: column;

    }
    .search-box {
        width: 100%;
        height: 300px;
        font-size: 30px;
        color: white;
        font-weight: bold;
        background-image: url('https://s3.us-east-2.amazonaws.com/styleseat/woman.jpg');
        background-repeat: no-repeat;
    background-position-y: 100%;
    background-position-x: 0px;
        background-size: 100%;
        
    }
   
    .right-box {
        width: 100%;
        height: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    
    span.motto {
        width: 90%;
        font-weight: bold;
        margin-left: 5%;
    }
    .bold-text {
        font-size: 24px;
        width: 80%;
    }
    .booking-text {
        width: 80%;
    }

.setup {
    background-color: rgb(100, 209, 195);
    border-color: rgb(100, 209, 195);
    width: 75%;
    height: 50px;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.trial-text {
    font-size: 10px;
}
   
    .img-container {
        width: 90%;
        height: 50%;
     }
    .float1 {
        width: 70%;
        height: 40%;
        background-color: rgba(255, 255, 255, 0.705);
        position: absolute;
        top: 27%;
        right: 17%;
        font-size: 17px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: black;
    
    }

}
@media screen and (min-width: 530px) and (max-width: 705px) {
    .search-box {
        font-size: 35px;
    background-position-y: 80%;
    background-position-x: 0px;
        /* background-size: 100%; */
    }
    .right-box {
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
}
@media screen and (min-width: 706px) and (max-width: 899px) {
    .search-box {
        font-size: 35px;
    background-position-y: 75%;
    background-position-x: 0px;
        background-size: 100%;

    }
    .right-box {
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
}
@media screen and (min-width: 900px) and (max-width: 1100px){
    .responsive, .responsive-title, .menu, .search-img {
        display: none;
    }
   .home-header {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: white;
    justify-content: space-between;

   }
  
.search-input {
    text-indent: 33px;
    font-size: 14px;
    color: rgb(168, 168, 168);
    border: #E9ECEB solid .2px;

}
.header-search-box {
    display: flex;
    align-items: center;

}
.icon {
    position: absolute;
    left: 5px;
    top: 7px;
}
.nav-link-container, .nav-link {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 18px;
    align-items: center;
}
.business {
    background-color: #343737;
    color: white;
    font-weight: bold;
    font-size: 13px;
    margin-top: 15px;
}

.top-box{
    display: flex;
    height: auto;
    width: 90%;
    color: white;
    font-weight: bold;
    justify-content: center;
}
.search-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    color: white;
    font-weight: bold;
 
}
.bold-text {
    font-size: 24px;
    width: 80%;
}

.search-link-container {
    display: flex;
    flex-direction: row;
    background-color: rgba(65, 65, 65, 0.596);
    font-size: 11px;
    -webkit-text-decoration-color: white;
    text-decoration-color: white;
    text-decoration: none;
    margin-top: 45px;
    justify-content: space-between;
    /* padding: 10px; */
    width: 76%;
    height: 10px;
    margin-right: 5.5%;
}
    .right-box {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .setup {
        background-color: rgb(100, 209, 195);
        border-color: rgb(100, 209, 195);
        width: 75%;
        height: 50px;
        color: white;
        font-size: 15px;
        font-weight: bold;
    }
    
    .trial-text {
        font-size: 8px;
    }
    .booking-text {
        width: 80%;
        font-size: 14px;
    }
    button.search {
        width: 115px;
    }
    .img-container {
        position: relative;
        background-color: rgb(51, 51, 51);
        width: 42%;
        height: 50%;
        margin: 3%;
     
     }

     .discover-box {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }

     
}

@media screen and (min-width: 1099px) and (max-width: 2100px){
   
}
