 
 .home {
     position: relative;
    display: flex;
    justify-content: center;

 }

.home-header-responsive {
   background-color: black;
   color: white;
   height: 80px;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
.wrapper {
    display: hidden;
}
/* .icon {
    position: absolute;
    left: 50px;
    top: 7px;
} */
 

.business, .nav-link-container, .nav-link, .search-input, .header-search-box, .home-header {
    display: none;

}


.top-box{
    display: flex;
    height: auto;
    color: white;
    font-weight: bold;
    flex-direction: column;
}
.responsive-home-title {
    font-size: 2rem;
    font-family: fantasy;
}
.search-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 15%;
    color: white;
    background-image: url('https://s3.us-east-2.amazonaws.com/styleseat/woman.jpg');
    background-repeat: no-repeat;
background-position-y: -140px;
    background-size: 120%;
    
}
.search-link-container{
    /* display: flex;
    flex-direction: row;
    background-color: rgba(65, 65, 65, 0.596);
    font-size: 14px;
    text-decoration-color: white;
    text-decoration: none;
    margin-top: 45px;
    justify-content: space-between;
    margin-right: 15px;
    align-items: center;
    padding: 10px;
    width: 80%;
    height: 10px; */
    display: none;
}
a {
    text-decoration: none;
    color: white;
    font-weight: lighter;
}
.location-1 {
    width: 90%;
    height: 40px;
    text-indent: 30px;
    background-color: rgba(255, 255, 255, 0.623);
}
.right-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 220px;
    width: 100%;
    background-color: hsl(180, 3%, 21%);
    justify-content: space-evenly;
}
.trial-text {
   font-size: 10px;
   font-weight: lighter;
}
.booking-text {
    font-size: 14px;
    font-weight: lighter;
    margin-left: 5%;
}
.bold-text {
    font-size: 22px;
    margin: 5%;
}
.name, .location {
    /* height: 45px;
    width: 50%;
    text-indent: 35px;
    font-size: 14px; */
    display: none;

}
.icons-container {
    display: flex;

}
.discover-box {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5%;
}
.profile-img {
    width: 150px;
    height: 35px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(97, 97, 97);
}

.bell {
    margin-top: 5px;
}
.menu-icon{
    height: inherit;
    margin-left: 5%;
}
.down-arrow {
    float: right;
    margin-top: 10%;
    cursor: pointer;
}
.search {
    display: none;
    /* background-color: rgb(100, 209, 195);
    color: white;
    align-items: center;
    border-color: rgb(100, 209, 195);
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center; */

}
   
 .search-img, .search-link { 
    width: 10vw;
    margin-right: 5%;
} 

span.motto {
    margin-top: 10%;
    margin-bottom: 20px;
    width: 90%;
    /* font-weight: lighter; */
    letter-spacing: 2px;
    font-size: 2rem;
    line-height: 1.2em;


}
.input-container {
    position: relative;
    width: 90%;
    display: flex;
    justify-content: center;
}
.responsive {
    background-color: rgba(251, 253, 255, 0.705);
    height: 40px;
    width: 88%;
    text-indent: 12%;
}
.icon2 {
    position: absolute;
    left: 6%; 
    top: 15%;
    z-index: 10;
    cursor: pointer;
    
}

.setup {
    background-color: rgb(100, 209, 195);
    border-color: rgb(100, 209, 195);
    height: 50px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    margin-top: 5%;
}
.setup-link {
    width: 200px;
    display: flex;
    justify-content: center;
}

.input-search-box {
    width: 100%;
}

 .location-icon {
    display: none;
} 

h1 {
   display: none;
} 


span.float1:hover {
    width: 75%;
    height: 45%;
    transition-delay: 0s;
    top: 26%;
    right: 12%;
    background-color: rgba(255, 255, 255, 0.911);
    cursor: pointer;
}

.img-container {
   position: relative;
   margin-bottom: 33px;
   background-color: rgb(51, 51, 51);
   width: 85%;
   height: 40vh;

}
.box {
    image-orientation: unset;
}

.float-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: lighter;
} 

 .float1 {
    width: 70%;
    height: 40%;
    background-color: rgba(255, 255, 255, 0.705);
    position: absolute;
    top: 27%;
    right: 17%;
    font-size: 17px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;

}
.home-width {
    position: absolute;
    width: auto;
    padding-right: 5px;
    padding-left: 5px;
     height: 100px;
    left: 5%;
    z-index: -10;
    top: 8%;
    font-size: 10px;
    font-weight: bold;
    justify-content: space-evenly;
     flex-direction: column;
    background-color: rgba(226, 226, 226, 0.918);
    display: flex;
    z-index: 100;
    border-radius: 3px;
 overflow-wrap: break-word;
    box-shadow: rgba(128, 128, 128, 0.431);

    cursor: pointer;

}
.home-menu-well {
    cursor: pointer;
    color: rgb(56, 56, 56);
    font-size: 18px;
    text-align: left;
    letter-spacing: 1px;
    text-indent: 5px;

}
/* @media (max-width: 400px){
     .search, .business, .search-input, .name, .location, .location-icon, .search-link-container, .nav-link-container, .App-logo, .header-search-box {
        display: none;
    }
    

} */
/* @media (max-width: 950px) {
    .search-box {
        font-size: 35px;
    background-position-y: 80%;
    background-position-x: 0px;
        background-size: 100%;
        height: 400px;
    }
    .right-box {
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
    }
}  */

 /* @media screen and (min-width: 706px) and (max-width: 899px) {
    .search-box {
        font-size: 40px;
    background-position-y: 85%;
    background-position-x: 0px;
        background-size: 105%;
        height: 400px;

    }
    .right-box {
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
    }
}   */

 
/* @media screen and (min-width: 900px) and (max-width: 1100px){
    .responsive, .responsive-title, .menu, .search-img {
        display: none;
    }
   .home-header {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: white;
    justify-content: space-between;

   }
  
.search-input {
    text-indent: 33px;
    font-size: 14px;
    color: rgb(168, 168, 168);
    border: #E9ECEB solid .2px;

}
.header-search-box {
    display: flex;
    align-items: center;

}
.icon {
    position: absolute;
    left: 5px;
    top: 7px;
}
.nav-link-container {
    width: 40%;
}
.nav-link-container, .nav-link {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 18px;
    align-items: center;
}
.business {
    background-color: #343737;
    color: white;
    font-weight: bold;
    font-size: 13px;
    margin-top: 15px;
    margin-right: 10%;
}

.top-box{
    display: flex;
    height: auto;
    width: 90%;
    color: white;
    font-weight: bold;
    justify-content: center;
}
.search-box {
    font-size: 35px;
    background-position-y: 100%;
    background-position-x: 0px;
        background-size: 110%;
        height: 400px;
 
}
.motto, .search-link-container, .input-container {
    margin-left: 5%;
}
.bold-text {
    font-size: 24px;
    width: 80%;
    margin-left: 5%;
}

    .right-box {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .setup {
        background-color: rgb(100, 209, 195);
        border-color: rgb(100, 209, 195);
        width: 75%;
        height: 50px;
        color: white;
        font-size: 15px;
        font-weight: bold;
    }
    
    .trial-text {
        font-size: 8px;
    }
    .booking-text {
        width: 80%;
        font-size: 14px;
    }
    button.search {
        width: 115px;
    }
    .img-container {
        position: relative;
        background-color: rgb(51, 51, 51);
        width: 42%;
        height: 400px;
        margin: 3%;
     
     }

     .discover-box {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }

     
} */

/* @media screen and (min-width: 1099px) and (max-width: 2100px){
    .responsive, .responsive-title, .menu, .search-img {
        display: none;
    }
   .home-header {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: white;


   }
  
.search-input {
    text-indent: 33px;
    font-size: 14px;
    color: rgb(168, 168, 168);
    border: #E9ECEB solid .2px;
    width: 300px;

}
.header-search-box {
    display: flex;
    width: 75%;

}
.icon {
    position: absolute;
    left: 5px;
    top: 7px;
}
.nav-link-container {
    width:  45%;
}
.nav-link {
    margin: 5%;
}
.nav-link-container, .nav-link {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 18px;
    align-items: center;
    cursor: pointer;
}
.business {
    background-color: #343737;
    color: white;
    font-weight: bold;
    font-size: 13px;



}

.top-box{
    display: flex;
    width: 90%;
    color: white;
    font-weight: bold;
    justify-content: center;

}
.search-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 45px;
    height: 500px;
    color: white;
    font-weight: bold;
    background-position-y: 85%;
    background-position-x: 0px;
    background-size: 110%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 
}

.bold-text {
    font-size: 30px;
    width: 80%;
}

.search-link-container {
    display: flex;
    flex-direction: row;
    background-color: rgba(65, 65, 65, 0.596);
    font-size: 14px;
    -webkit-text-decoration-color: white;
    text-decoration-color: white;
    text-decoration: none;
    justify-content: space-evenly;
    width: 76%;
    height: 10px;
    margin-right: 6.5%;
}
    .right-box {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 500px;
    }

    .setup {
        background-color: rgb(100, 209, 195);
        border-color: rgb(100, 209, 195);
        width: 80%;
        height: 50px;
        color: white;
        font-size: 15px;
        font-weight: bold;
    }
    
    .trial-text {
        font-size: 10px;
    }
    .booking-text {
        width: 80%;
        font-size: 16px;
    }
    img.icon2 {
        top: 10px;
    }
    button.search {
        width: 115px;
    }
    .img-container {
        position: relative;
        background-color: rgb(51, 51, 51);
        width: 25%;
        height: 350px;
        margin: 3%;
     
     }

     .discover-box {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
  
     
} */


