/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
	font-family:'Cabin', sans-serif;
	/* 'Arvo', serif; */
	/* 'Poppins', sans-serif; */
	 /* 'Quattrocento Sans', sans-serif; */
	
	}

	/* font-family: 'Abril Fatface', cursive; */
	/* font-family: 'Poppins', sans-serif;
	font-family: 'Cabin', sans-serif;
	font-family: 'Josefin Sans', sans-serif;
	font-family: 'Arvo', serif; */

	/* font-family: 'Archivo Narrow', sans-serif;
	font-family: 'Noto Sans TC', sans-serif;
	font-family: 'Poiret One', cursive;
	font-family: 'Patrick Hand', cursive; */

/* @media(min-width: 350px) {
.App {
  font-size: 24px;
 
  
}
.business-header {
  font-size: 24px;
}

}




@media(min-width: 800px) {
.App {
  font-size: 44px;
  width: 80%;
}
}





@media(min-width: 1200px) {
.App {
  font-size: 54px;
}
}   */

