
/* 
.logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
} */


/* @keyframes logo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}  */

/* 
.help {
  margin-top: 6%;
  width: 100vw;
  height: 100vh;
  background-image: url('https://s3.us-east-2.amazonaws.com/styleseat/Screen+Shot+2018-11-13+at+11.36.17+AM.png');
  background-repeat: no-repeat;
} */
/* 
 @media(min-width: 300px) {
  .App {
    font-size: 24px;
  }
}







@media(min-width: 500px) {
.App {
  font-size: 34px;
  width: 800px;
}

}




@media(min-width: 800px) {
.App {
  font-size: 44px;
  width: 80%;
}
}





@media(min-width: 1200px) {
.App {
  font-size: 54px;
}
}  */