
.form-modal{
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.671);
    min-width: 100vw;
    min-height: 100vh;
    position: fixed;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.form-forgot-pw {
    font-size: 12px;
    color: rgb(28, 118, 173);
    text-align: center;
    font-weight: lighter;
    margin-top: 5px;
}

.form-login-button {
    background-color: #5CD3CA;
    width: 100%;
    height: 60px;
    color: white;
    font-size: 18px;
    position: absolute;
    bottom: 0px;

}
.form-img-close {
   margin-right: 5px;
   position: absolute;

}
.form-login-input {
    height: 45px;
    /* width: 80%; */
    text-indent: 5px;
    margin-bottom: 25px;
}
.form-signup-input {
        height: 45px;
        width: 85%;
        text-indent: 5px; 
        margin-bottom: 10px; 
       
}
.signup {
    margin-left: 45px;

}
.form-name-container {
    display: flex;
    flex-direction: row;
    /* width: 87%; */
}
.signup:hover {
    cursor: pointer;
}



.form-modal-setup, {
    text-decoration-line: blue;
    color: rgb(44, 44, 44);
    margin-right: 20px;

}
.form-header{
    height: 50px;
    border-bottom-color: rgb(148, 148, 148);
    border-top-color: transparent;
    border-right-color: transparent ;
    border-left-color: transparent;
    border-style: solid;
    border-width: thin;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

.business-location {
    text-indent: 155px;
    font-size: 12px;
    background-color: #FAFAFA;
    height: 30px;
    border-bottom-color: rgb(148, 148, 148);
    border-top-color: transparent;
    border-right-color: transparent ;
    border-left-color: transparent;
    border-style: solid;
    border-width: thin;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: bold;
}
.form-save {
    color: #4CB7C5;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}

.form-cancel {
    color: rgb(146, 146, 146);
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}
.form-top-span {
    color: rgb(177, 177, 177);
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    font-weight: lighter;
    position: relative;
    margin-left: 20px;
    text-decoration: blue;
    margin-top: 5px;
}
.x-close {
    position: absolute;
    right: 10px;
    top: 10px;
}
.form-top-spanActive {
    position: relative;
    color: rgb(177, 177, 177);
    display: flex;
    text-decoration-line: blue;
    justify-content: space-between;
    /* width: 90%; */
    font-weight: lighter;
    margin-top: 15px;
    line-height: 2em;
}
 .form-input-container1 {

    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    width: 100%;
    height: 90%;
    position: relative;
 }
.form-login-inputs {
    display: flex;
    flex-direction: row;
    width: 100%;

}



.business-name, .phone, .business-address, .city-input, .state-input, .zip-input {
    width: 100%;
    height: 50px;
    border-bottom-style: solid;
    border-bottom-color: rgb(216, 216, 216);
    border-bottom-width: thin;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    font-size: 12px;
    font-weight: bold;
    color: black;
    text-transform: capitalize;
}
.business-inputs {
    display: flex;
    flex-wrap: wrap;

    padding-bottom: 20px;
}

.description {
   margin-top: 30px;
   height: 50px;
}
/* .phone {
    width: 100%;
    height: 40px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
} */
.form {
    width: 400px;
    height: 450px;
    position: absolute;
    left: 50%;
    top: 40%;
    margin-left: -200px;
    margin-top: -200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    border-radius: 2px;
}
 

